<nav class="navbar navbar-default">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="home.html">LOGO</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     	<ul class="nav navbar-nav navbar-right">
		        <li><a href="user.html">{{nav_profil}}</a></li>
		        <li><a href="settings.html">{{nav_install}}</a></li>
		        <li><a class="btn btn-default" href="#">{{nav_log}}</a>
		        </li>
	      	</ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>
<div class="container-fluid"  >
  	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    		<div class="well text-center">
	    		<h3>{{ user_name }}</h3>    			
	    		</div>
	    	</div>
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    		<div class="thumbnail">
			      	<img src="../src/img/profilbildex.jpg" class="img-thumbnail img-responsive" alt="Användarens Valda Profilbild" height="150 px" width="150 px">
		      		<div class="caption text-center">
			        	<h3>{{button_name}}</h3><!-- routas så att det ändras efter aktiv knapp-->
			        	<p>{{button_bread}}</p>
			        	<p>
				        	<a href="#" class="btn btn-primary" role="button">Poäng</a> 
				        	<a href="#" class="btn btn-default" role="button">Utmaningar</a>
				        	<a href="#" class="btn btn-default" role="button">Aktiviteter</a>
				        	
			        	</p>
		      		</div>
			    </div>
	  		</div>
	    </div>
   	</div>
</div>